$naturalPink: #FE4A74;
$offPink: #BDA7B6;
$onPink: #DBC2D3;
$offPurple: #511A41;
$brightPink: #FE4ACE;
$dark: #060604;
$contrastGreen: #74fe4a;

$distanceTop: 1em;
$distanceSide: 21px;

$headerHeight: 158px;
$adjustVerticalSm: $headerHeight;

.active {
    a {
        color: $onPink;
        border-bottom: 10px solid $brightPink;
    }
}

body {
    margin: 0px;
    background-image: url("../images/slinky-img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 250px 250px;
    background-position: right bottom;
    background-color: $dark;

    color: $onPink;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    min-width: 360px;
}

header {
    position: fixed;
    width: 100%;
    height: $headerHeight;
    background-color: $dark;
}

nav, #header-img, section {
    padding: $distanceTop $distanceSide 0 $distanceSide;
}

section {
    height: 97vh;
    letter-spacing: 3px;
}

#top-line {
    height: 5px;
    width: 100%;
    background-color: $naturalPink;
}

#header-img {
    img {
        display: block;
        height: 74px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    a {
        color: $offPink;
        text-decoration: none;
        font-size: 23px;
    }
}

.nav-link {
    text-align: center;
    border-bottom: 10px solid $offPurple;
}

iframe {
    width: 300px;
}

#home {
    display: flex;
    flex-direction: column;

    >div>:nth-child(1) {
        margin-top: 15%;
        margin-left: 15px;
    }
    >div>:nth-child(2) {
        margin-left: 71px;
    }

    .upper {
        padding-top: $adjustVerticalSm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

.upper, .downer {
    height: 50%;
}


.downer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scroll {
    margin-bottom: 0px;
    padding-left: 5px;
    width: 45px;
    height: 50px;
    background-color: $offPink;
    border-radius: 100%;
}

.scroll-link {
    align-self: center;
    justify-self: flex-end;
    color: $dark;
    margin: 0px;
    font-size: 45px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

#science {
    background-color: $dark;
    img {
        color: red;
    }
    .upper {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 1.5em;
        max-width: 25em;
        margin: auto;
        padding-top: $adjustVerticalSm;
    }

    .downer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        iframe {
            margin: auto;
            margin-top: 0px;
        }
    }
}

#about {
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5em;
    margin: auto;

    .upper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 1.5em;
        max-width: 25em;
        margin: auto;
        padding-top: $adjustVerticalSm;
    }

    .downer {
        padding-top: 4em;

        h2 {
            margin-bottom: 0px;
        }
        h3 {
            margin: 0em 0em 0.2em 0em;;
        }

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 1.5em;
        max-width: 25em;
        margin: auto;
    }

    p {
        max-width: 30em;
    }

    label {
        position: absolute;
        height: 1px;
        left: -5000px;
    }
}

h1, h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

#submit {
    border-style: none;
    background-color: $contrastGreen;
    height: 1.7em;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 3em;
    padding-bottom: 1em;
    min-height: 150px;
    background-color: $dark;
    padding-left: $distanceSide;

    p {
        font-size: 16px;
        margin: 0px;
    }
}

#form-container {
    // padding: 0px 0px 17px 17px;
    // border-left: 4px solid red;
    // border-bottom: 4px solid red;
    // border-bottom-left-radius: 30%;
}

@media (min-width: 420px) {

    #science .downer iframe {
        margin-top: 30px;
    }

    #science, #about {
        height: auto;
    }

    section p {
        font-size: 22px;
        line-height: 1.2em;
    }

    nav {
        justify-content: flex-start;
    }

    nav > div {
        margin-left: 2.2em;
    }

    iframe {
        width: 400px;
        height: 225px;
    }

    h2 {
        font-size: 26px;
    }

}

@media (min-width: 1020px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 35px;
    }

    #science {
        .upper {
            line-height: 2.2em;
        }
    }

    iframe {
        width: 900px;
        height: 508px;
    }
}