.active a {
  color: #DBC2D3;
  border-bottom: 10px solid #FE4ACE;
}

body {
  margin: 0px;
  background-image: url("../images/slinky-img.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250px 250px;
  background-position: right bottom;
  background-color: #060604;
  color: #DBC2D3;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  min-width: 360px;
}

header {
  position: fixed;
  width: 100%;
  height: 158px;
  background-color: #060604;
}

nav, #header-img, section {
  padding: 1em 21px 0 21px;
}

section {
  height: 97vh;
  letter-spacing: 3px;
}

#top-line {
  height: 5px;
  width: 100%;
  background-color: #FE4A74;
}

#header-img img {
  display: block;
  height: 74px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #BDA7B6;
  text-decoration: none;
  font-size: 23px;
}

.nav-link {
  text-align: center;
  border-bottom: 10px solid #511A41;
}

iframe {
  width: 300px;
}

#home {
  display: flex;
  flex-direction: column;
}
#home > div > :nth-child(1) {
  margin-top: 15%;
  margin-left: 15px;
}
#home > div > :nth-child(2) {
  margin-left: 71px;
}
#home .upper {
  padding-top: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.upper, .downer {
  height: 50%;
}

.downer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.scroll {
  margin-bottom: 0px;
  padding-left: 5px;
  width: 45px;
  height: 50px;
  background-color: #BDA7B6;
  border-radius: 100%;
}

.scroll-link {
  align-self: center;
  justify-self: flex-end;
  color: #060604;
  margin: 0px;
  font-size: 45px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

#science {
  background-color: #060604;
}
#science img {
  color: red;
}
#science .upper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5em;
  max-width: 25em;
  margin: auto;
  padding-top: 158px;
}
#science .downer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#science .downer iframe {
  margin: auto;
  margin-top: 0px;
}

#about {
  background-color: #060604;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.5em;
  margin: auto;
}
#about .upper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.5em;
  max-width: 25em;
  margin: auto;
  padding-top: 158px;
}
#about .downer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5em;
  max-width: 25em;
  margin: auto;
}
#about .downer h2 {
  margin-top: 2em;
  margin-bottom: 0px;
}
#about .downer h3 {
  margin: 0em 0em 0.2em 0em;
}
#about p {
  max-width: 30em;
}
#about label {
  position: absolute;
  height: 1px;
  left: -5000px;
}

h1, h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

#submit {
  border-style: none;
  background-color: #74fe4a;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 3em;
  padding-bottom: 1em;
  min-height: 150px;
  background-color: #060604;
  padding-left: 21px;
}
footer p {
  font-size: 16px;
  margin: 0px;
}