$naturalPink: #FE4A74;
$offPink: #BDA7B6;
$onPink: #DBC2D3;
$offPurple: #511A41;
$brightPink: #FE4ACE;
$dark: #060604;
$contrastGreen: #74fe4a;

$distanceTop: 1em;
$distanceSide: 21px;

.active {
    a {
        color: $onPink;
        border-bottom: 10px solid $brightPink;
    }
}

body {
    margin: 0px;
    background-image: url("../images/slinky-img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 250px 250px;
    background-position: right bottom;
    background-color: $dark;

    color: $onPink;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}

header {
    position: fixed;
    width: 100%;
    background-color: $dark;
}

nav, #header-img, section {
    padding: $distanceTop $distanceSide 0 $distanceSide;
}

section {
    height: 97vh;
}

#top-line {
    height: 5px;
    width: 100%;
    background-color: $naturalPink;
}

#header-img {
    img {
        display: block;
        height: 74px;
    }
}

nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
    a {
        color: $offPink;
        text-decoration: none;
        font-size: 23px;
    }
}

.nav-link {
    text-align: center;
    border-bottom: 10px solid $offPurple;
}

iframe {
    width: 300px;
}

#home {
    display: flex;
    flex-direction: column;

    >div>:nth-child(1) {
        margin-top: 15%;
        margin-left: 15px;
    }
    >div>:nth-child(2) {
        margin-left: 71px;
    }

    .upper {
        // padding-top: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end
    }
}

.upper, .downer {
    height: 50%;
}

.downer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scroll {
    margin-bottom: 0px;
    padding-left: 5px;
    width: 45px;
    height: 50px;
    background-color: $offPink;
    border-radius: 100%;
}

.scroll-link {
    align-self: center;
    justify-self: flex-end;
    color: $dark;
    margin: 0px;
    font-size: 45px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

#science {
    background-color: $dark;
    img {
        color: red;
    }
    .upper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 1.5em;
        width: 25em;
        margin: auto;
    }

    .downer {
        iframe {
            margin: auto;
        }
    }
}

#about {
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5em;
    margin: auto;

    .upper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 1.5em;
        width: 25em;
        margin: auto;
    }

    .downer {
        h2 {
            margin-top: 2em;
            margin-bottom: 0px;
        }
        h3 {
            margin: 0.2em 0em 0.7em 0em;;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5em;
        width: 25em;
        margin: auto;
    }

    h1, h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    p {
        max-width: 30em;
    }
}

#submit {
    border-style: none;
    background-color: $contrastGreen;
}

footer {
    height: 150px;
    background-color: $dark;
    padding-left: $distanceSide;

    p {
        margin-top: 0px;
    }
}